.navbar {
  width: 100%;
  height: 80px;
  left: 200px;
  top: 220px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  .navbar__wrapper {
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__logo {
    width: 130.29px;
  }

  .navbar__items {
    width: 140px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
  }

  .navbar__item {
    list-style: none;
    margin-left: 2rem;

    align-items: center;
  }

  .navbar__sidebar--toggle {
    width: 65px;
  }

  .navbar__sidebar-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.sidebar {
  width: 16rem;
  background: #fff;
  height: calc(100% - 80px);
  position: absolute;
  z-index: 1;
  top: 80px;
  left: -100%;
  transition: 0.75s all ease-in-out;
}

.sidebar--active {
  left: 0;
}

.sidebar__items {
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__item {
  display: flex;
  align-items: center;

  height: 3rem;

  list-style: none;
  margin-left: 2rem;
  margin-top: 1rem;
}

.menu__items {
  display: flex;
  gap: 8px;

  flex-direction: column;
  align-items: flex-start;

  height: 3rem;

  list-style: none;
  margin-left: 2rem;
  margin-top: 1rem;

  a {
    text-decoration: none;
    color: #272022;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    cursor: pointer;
  }
}
