.landing-page {
  .card--center {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 100vh;
  }

  .landing-page__container {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    z-index: 20;
  }

  .landing-page__content {
    z-index: 20;
    width: 600px;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 162.86px;
    margin-top: 40px;
    margin-bottom: auto;
  }

  .landing-page__title {
    z-index: 20;
    width: 500px;
    height: 144px;

    font-weight: 700;
    font-size: 72px;
    line-height: 100%;

    margin-bottom: 24px;

    color: #1a1a1a;
  }
  .landing-page__subtitle {
    z-index: 20;
    width: 424px;
    height: 64px;

    font-size: 17px;
    line-height: 32px;

    margin-bottom: 24px;

    color: #2b2b2b;
  }

  .landing-page__photo {
    z-index: 10;
    max-width: 100%;
    max-height: 100%;

    position: fixed;
    bottom: 242px;
    right: 80px;
  }

  .landing-page__button {
    z-index: 20;
    opacity: 0.9;
    width: 217px;
    height: 56px;

    padding: 12px 48px;
    gap: 12px;

    /* Main color */

    background: #9141f6 !important;
    border: 3px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px;

    .p-button-label {
      font-size: 17px;
      line-height: 32px;
    }

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: 900px), (max-height: 900px) {
    .landing-page__photo {
      width: 400px;
      height: 400px;
    }
  }
}
