.button {
  .button__common-style {
    opacity: 0.9;
    height: 56px;

    background: #9141f6;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    &:hover {
      opacity: 1;
    }
  }

  .button__landing-page {
    z-index: 20;
    width: 217px;

    padding: 12px 48px;

    .p-button-label {
      font-size: 17px;
      line-height: 32px;
    }
  }

  .button__login-login {
    width: 160px;
  }

  .button__login-media {
    padding: 12px 48px;
    gap: 12px;

    width: 301px;
    background: #ffffff;
    border: 3px solid #9141f6;

    .p-button-label {
      color: #9141f6;
    }
    .p-button-icon {
      color: blue;
    }
  }

  @media screen and (max-height: 900px), (max-width: 900px) {
    .button__login-login {
      width: 130px;
      height: 46px;
    }

    .button__login-media {
      padding: 15px;
      width: 143px;
    }
  }
}
