.circles {
  .blurry-gradient-1 {
    opacity: 0.6;
    position: fixed;
    width: 765px;
    height: 653px;
    bottom: -190px;
    right: -130px;

    background: #83fff5;
    filter: blur(56px);
    border-radius: 370px;
  }
  .blurry-gradient-2 {
    opacity: 0.6;
    position: fixed;
    width: 318px;
    height: 382px;
    bottom: 5px;
    right: 103px;

    background: #8fff01;
    filter: blur(56px);
    border-radius: 248px;
  }

  .blurry-gradient-3 {
    opacity: 0.9;
    position: fixed;
    width: 471px;
    height: 469px;
    bottom: -69px;
    right: -230px;

    background: #ffc622;
    filter: blur(56px);
    border-radius: 333.5px;
  }
  .blurry-gradient-4 {
    opacity: 0.7;
    position: fixed;
    width: 352px;
    height: 335px;
    bottom: 256px;
    right: -154px;

    background: #f6416c;
    filter: blur(56px);
    border-radius: 185px;
  }

  @media screen and (max-height: 900px), (max-width: 900px) {
    .blurry-gradient-1 {
      width: 765px;
      height: 653px;
    }
    .blurry-gradient-2 {
      width: 318px;
      height: 382px;
    }
    .blurry-gradient-3 {
      width: 471px;
      height: 469px;
    }
    .blurry-gradient-4 {
      width: 352px;
      height: 335px;
    }
  }
}
