.register {
  .card--center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .register__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 32px;
    z-index: 10;

    position: absolute;
    width: 522px;
    height: 700px;
    margin: auto;

    background-color: #fff;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05),
      0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
  }

  .register__input {
    padding: 16px;

    width: 298px;
    height: 56px;

    background: #f9f8f9;
    border: 1px solid #d1cedc;
    border-radius: 8px;
  }

  .media__wrapper__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .media__wrapper__row {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .register__divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 32px;

    /* To show the lines on right
    and left sides of the text */
    &:after,
    &:before {
      content: "";
      border: 1px solid #d7d4e0;
      flex: 1;
    }
  }

  .register__or-wrapper {
    width: 55px;
    height: 40px;
    padding: 8px 16px;

    border: 1px solid #d7d4e0;
    border-radius: 37px;
    font-size: 14px;
    color: #666273;
  }

  .logo {
    width: 130.29px;
    height: 32px;
    margin-bottom: 1rem;
  }

  .register__span-signin {
    opacity: 0.8;
    color: #9141f6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .p-invalid {
    border: 2px solid;
  }

  .form__icon--exclamation {
    color: #cd1414 !important;
  }

  @media screen and (max-height: 900px), (max-width: 900px) {
    .register__card {
      width: 422px;
      height: 590px;
      gap: 0;
    }

    .media__wrapper__column {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .media__wrapper__row {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    .register__divider {
      margin-top: 12px;
    }
  }
}
