.login {
  .card--center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 32px;
    z-index: 10;

    position: absolute;
    width: 522px;
    height: 760px;
    margin: auto;

    background-color: #fff;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05),
      0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
  }

  .login__input {
    padding: 16px;

    width: 298px;
    height: 56px;

    background: #f9f8f9;
    border: 1px solid #d1cedc;
    border-radius: 8px;
  }

  .login__remember-section {
    margin-bottom: 48px;
  }

  .login__remember-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    /* Grey / Medium grey */

    color: #666273;
  }

  .login__button-login {
    opacity: 0.9;
    width: 160px;
    height: 56px;

    /* Main color */

    background: #9141f6 !important;
    border: 3px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px;

    &:hover {
      opacity: 1;
    }
  }

  .login__button-media {
    padding: 12px 48px;
    gap: 12px;

    width: 301px;
    height: 56px;

    background: #ffffff;
    /* Main color */

    border: 3px solid #9141f6;
    border-radius: 8px;

    .p-button-label {
      color: #9141f6;
    }
    .p-button-icon {
      color: blue;
    }

    &:hover {
      background: #9141f6;
    }
  }

  .media__wrapper__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .media__wrapper__row {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .login__divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 32px;

    /* To show the lines on right
    and left sides of the text */
    &:after,
    &:before {
      content: "";
      border: 1px solid #d7d4e0;
      flex: 1;
    }
  }

  .login__or-wrapper {
    width: 55px;
    height: 40px;
    padding: 8px 16px;

    border: 1px solid #d7d4e0;
    border-radius: 37px;
    font-size: 14px;
    color: #666273;
  }

  .login__logo {
    width: 130.29px;
    height: 32px;
    margin-bottom: 1rem;
  }

  .login__span-register {
    opacity: 0.8;
    color: #9141f6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .p-invalid {
    border: 2px solid;
  }

  .form__icon--exlamation {
    color: #cd1414 !important;
  }

  @media screen and (max-height: 900px), (max-width: 900px) {
    .login__card {
      width: 422px;
      height: 590px;
      gap: 0;
    }

    .login__remember-section {
      margin-bottom: 12px;
    }

    .login__button-login {
      width: 130px;
      height: 46px;

      /* Main color */

      background: #9141f6;
      border: 3px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    .login__divider {
      margin-top: 12px;
    }

    .media__wrapper__column {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .media__wrapper__row {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    .login__button-media {
      padding: 15px;
      gap: 12px;

      width: 143px;
      height: 56px;

      background: #ffffff;
      color: #9141f6;
      /* Main color */

      border: 3px solid #9141f6;
      border-radius: 8px;
    }
  }
}
